<h1>adicione um usuario</h1>

<form action="/users/create" method="post" class="form">
    <div class="form-control">
        <label for="name">Nome</label>
        <input type="text" name="name" placeholder="Digite o nome do usuário">
    </div>
    <div class="form-control">
        <label for="ocupation">nome:</label>
        <input type="text" name="ocupation" placeholder="digite a profissão">

    </div>
    <div class=" form-checkbox">
        <input type="checkbox" name="newsletter" checked>
        <label for="newsletter">enviar promoções</label>
        

    </div>
    <input type="submit" value="cadastrar">



</form>